@import '../../../styles/mixins';
.wrapper {
  display: flex;
  flex-direction: column;

  grid-column: 1;
  grid-row: 1 / -1;

  @include respond(tab-port) {
    grid-row: 2;
    grid-column: 1;
    align-self: center;
    margin-right: 1rem;
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  cursor: pointer;

  & p {
    margin-right: 1.5rem;
    transition: color 0.25s ease-in-out;
  }

  &:hover {
    & > p {
      color: var(--color-primary);
    }
    & > button > * {
      background-color: var(--color-primary);
    }
  }

  @include respond(tab-port) {
    margin: 0;
  }
}

.filters-wrapper {
  height: 0;

  transition: height 0.5s ease;

  &.active {
    height: 100%;

    & .filters {
      background-color: var(--color-light-gray);
    }
  }

  & .hr {
    width: 100%;
    border: none;
    border-radius: 5px;
    border-top: 2px solid var(--color-black);
    z-index: 2;
  }

  & .filters {
    height: 99%;
    width: 100%;
    padding: 2rem 2rem 0;
    list-style: none;

    border-radius: 0 0 10px 10px;

    overflow: auto;

    display: flex;
    flex-direction: column;

    transition: background-color 0.5s linear;
    will-change: background-color;

    & li:last-of-type {
      cursor: pointer;
      align-self: center;
      margin-top: 1rem;
      padding-bottom: 0.2rem;
      border-bottom: 1px solid currentColor;
      font-weight: 600;

      transition: color, border-color, 0.2s ease;
      will-change: color, border-color;

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  // ! Filters styling for 900px vw
  @include respond(tab-port) {
    z-index: 99;
    position: fixed;
    bottom: 0;
    height: 50vh;
    max-height: 50vh;
    width: 100%;
    left: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease;

    &.active {
      transform: translateY(0);
    }

    & .hr {
      border-radius: 0;
      border-top: 1px solid;
    }

    & .filters {
      flex-direction: row;
      flex-wrap: wrap;

      height: 100%;
      border-radius: 0;
      padding-bottom: 3rem;

      background-color: var(--color-light-gray);
      transition: none;

      & li {
        flex: 0 0 15rem;

        &:last-of-type {
          margin: 0 0 1.8rem;
          text-align: center;
          align-self: center;
          flex-basis: 100%;
          border: none;
          text-decoration: underline;
        }
      }
    }
  }
}
