.servings {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;

  &--change {
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    transition: fill 0.1s ease;
    will-change: fill;
    &:hover {
      fill: var(--color-primary);
    }
  }

  &--icon {
    height: 3rem;
    width: 3rem;
  }

  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.6rem;
    margin: 0 1.5rem;
    font-weight: 600;
  }
}
