.section {
  display: flex;
  justify-content: center;
  height: 80rem;
  
  
  & .wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0 5rem;
  }
}


.categories-box {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.recipes-box {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10rem;
  grid-column-gap: 2rem;
  padding: 2rem;
  margin-top: 5rem;
}

