@import '../../../styles/mixins';
.header::before {
  content: '';
  background-image: linear-gradient(
      to top right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.1)
    ),
    url('../../../img/header-background.webp');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(2px);
}

.header {
  height: 90vh;
  min-height: 60rem;

  position: relative;

  display: flex;
  gap: 2rem;
  align-items: flex-end;

  margin-top: -8rem; // To place it below main navigation


  overflow: hidden;

  @include respond(tab-port) {
    height: auto;
    flex-direction: column-reverse;
    gap: 0;
  }
}

.content {
  flex: 1;
  padding: 5rem;
  margin-bottom: 2rem;

  & .button {
    min-width: 35%;
    max-width: 50%;
    display: flex;
    place-items: center;
    place-content: center;
    gap: 1rem;
    text-align: center;
    font-weight: 600;

    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 60px 60px 10px 60px;

    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 2px solid transparent;

    cursor: pointer;
    transition: background-color, color, 0.5s ease;
    will-change: background-color, color;

    .icon {
      height: 2rem;
      width: 2rem;
      transition: transform 0.5s ease;
    }

    &:hover,
    &:focus {
      background-color: var(--color-white);
      color: var(--color-primary);

      & .icon {
        transform: translateX(5px);
      }
    }
  }


  @include respond(tab-port) {
    margin-bottom: 0;
  }
}

.image {
  flex: 0 0 50%;
  padding: 5rem;
  display: flex;
  justify-content: center;

  img {
    display: inline-block;
    width: 70% !important;
    height: auto !important;
    object-fit: contain !important;

    filter: brightness(0.9);
  }


  @include respond(tab-port) {
    // display: none;
    margin-top: 8rem;
    padding: 5rem 5rem 0;
    img {
      width: 40% !important;
    }
  }
}
