:root {
  --color-primary: #00c86b;
  --color-primary-rgb: 0, 200, 107;

  --color-white-static: #fdfdfd;
  --color-black-static: #0d0d0d;

  --color-error: #ec5e5e;
  --text-outline: 1px 1px 0 #000;

  body,
  .navBtn,
  nav,
  header,
  main,
  footer,
  .overlay {
    --color-black: #0d0d0d;
    --color-black-rgb: 13, 13, 13;

    --color-white: #fdfdfd;
    --color-white-rgb: 253, 253, 253;

    --color-light-gray: #f3f3f3;
    --color-light-gray-rgb: 243, 243, 243;

    --color-footer: #ebebeb;
    
    
    &.dark {
      --color-black: #fdfdfd;
      --color-black-rgb: 253, 253, 253;
      
      --color-white: #0d0d0d;
      --color-white-rgb: 73, 73, 73;
      
      
      --color-light-gray: #2c2c2c;
      --color-light-gray-rgb: 44, 44, 44;
      
      --color-footer: #222222;

      color: var(--color-black);
    }
  }
}