@import '../../../styles/mixins';
.wrapper {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin-top: -2rem;

  .logo {
    font-size: 5rem;
    color: var(--color-primary);
    font-weight: 700;
  }

  .content {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .text {
    font-size: 2rem;
  }

  .icons {
    display: flex;
    gap: 2rem;
  }

  .icon {
    height: 6rem;
    width: 6rem;
    fill: var(--color-black);
  }

  @include respond(tab-port) {
    margin-top: -7rem;
  }
}

.wrapper.error {
  gap: 1rem;
  .logo {
    font-size: 6rem;
  }

  .error-box {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: var(--color-error);
    font-size: 3rem;
    gap: 2rem;
  }

  .content {
    flex-direction: column;
    gap: 2rem;
  }

  .text {
    color: var(--color-error);

    & .countdown {
      display: inline-block;
      margin-top: 2rem;
      font-weight: 700;
      font-size: 2.5rem;
    }
  }

  .icon {
    margin: 0;
    fill: var(--color-error);
    height: 10rem;
    width: 10rem;
  }
}
