@import "@/styles/mixins";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  background-color: var(--color-light-gray);
  height: calc(100vh - 8rem);
  min-height: 50rem;

  @include respond(tab-port) {
    height: 100vh;
  }

  @media only screen and (max-width: 310px) {
    padding: 1rem;
  }

}

.logo {
  font-size: 5rem;
  color: var(--color-primary);
  font-weight: 700;
  margin-bottom: 2rem;
}

.text {
    font-size: 1.9rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 2rem 2rem;

  font-family: 'Inter', sans-serif;
  width: 70%;

  @include respond(phone) {
    width: 90%;
  }

  @media only screen and (max-width: 310px) {
    width: 100%;
  }
}

.sign-in_btn {
  font-weight: 600;
  border: none;
  outline: none;
  color: var(--color-white-static);

  min-width: 10rem;
  width: 50%;
  height: 5rem;

  background: rgba(var(--color-primary-rgb), 0.9);
  border-radius: 7px;
  cursor: pointer;

  transition: transform, background-color, 0.2s ease;
  will-change: background-color;

  &:focus,
  &:hover {
    transform: translateY(-1px);
    background-color: var(--color-primary);
  }

  &.disabled {
    background-color: var(--color-error);
    cursor: not-allowed;

    &:hover {
      transform: translate(0);
      background-color: #b1b1b1;
    }
  }
}

.input-error {
  font-size: 1.3rem;
  margin-top: -3rem;
  margin-bottom: 1rem;
}

.error {
  font-weight: 600;
  color: var(--color-error);
  font-size: 1.4rem;
  margin-top: 1rem;
}