@import "@/styles/mixins";

.input {
  &-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    margin: 2rem 0 3rem;
  }

  &__label {
    margin-left: .2rem;
    color: #8b8e98;
    font-weight: 600;
    font-size: 1.6rem;
    position: absolute;
    top: -2.5rem;

    &.invalid {
        color: var(--color-error);
    }
  }

  &__field {
    width: auto;
    height: 5rem;
    padding: 0 0 0 4rem;
    border-radius: 1rem;
    outline: none;
    border: 2px solid #e5e5e5;
    background-color: rgba(var(--color-white-rgb), .5);
    color: var(--color-black);

    transition: border-bottom 0.3s ease;

    &:focus {
        border-bottom: 2px solid var(--color-primary);
    }

    &.invalid {
        border-bottom: 2px solid var(--color-error);
      }

      &::placeholder {
        font-size: 1.6rem;
        color: var(--color-black);
      }
  }

 
}

.icon {
  height: 2rem;
  width: 2rem;
  position: absolute;
  z-index: 3;
  left: 1.2rem;
  fill: var(--color-black);

  &-pwrd {
    left: unset;
    right: 1.5rem;
    cursor: pointer;
  }
}
