@import '@/styles/mixins';

.navigation {
  position: sticky;
  top: 0;
  left: 3rem;
  // position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 8rem;

  background-color: rgba(var(--color-white-rgb), 0.9);
  border-bottom: 1px solid var(--color-black);

  padding: 0 5rem;

  z-index: 100;

  & .logo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--color-primary);
    // text-shadow: var(--text-outline);
  }

  & ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;

    & li {
      & > * {
        display: flex;
      }

      // | Sign in/up anchor
      & .link {
        transition: color, border-color, 0.2s ease;
        border-bottom: 1px solid transparent;
        font-weight: 600;
        padding: 2px 0;
        cursor: pointer;

        &:hover,
        &:focus {
          border-color: currentColor;
          color: var(--color-primary);
        }

        &.demo, &.loading {
          color: var(--color-primary);
        }

        &.loading:hover {
          border-color: transparent;
        }

        &.delete {
          color: var(--color-error);
        }

       
      }

      // | Icon box anchor
      & .icon-box {
        position: relative;
        border: none;
        cursor: pointer;

        &:hover,
        &:focus {
          border-color: none;
          color: var(--color-primary);
          & > .icon {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  @include respond(tab-port) {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none;
    padding: 5rem;
    font-size: 3rem;
    gap: 5rem;

    flex-direction: column;
    justify-content: start;
    padding-top: 25vh;

    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility, filter, 0.2s ease-out;
    will-change: filter;

    &.mobile--active {
      opacity: 1;
      visibility: visible;
    }

    &.overlay--active {
      filter: blur(5px) brightness(0.5);
    }

    & .logo {
      font-size: 8rem;
    }

    & ul {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}

.welcome {
  font-weight: 600;
  padding: 2px 0;

  & span {
    color: var(--color-primary);
    font-weight: 700;
    margin-left: 0.3rem;
  }

  @include respond(tab-port) {
    text-align: center;
    flex-basis: 100%;
    font-size: 3.5rem;
  }
}

// Bookmarks and recipes in cart count
.count {
  position: absolute;
  bottom: -0.8rem;
  right: -0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--color-white-static);

  height: 2rem;
  width: 2rem;
  border-radius: 100px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(var(--color-primary-rgb), 0.8);

  @include respond(tab-port) {
    height: 3rem;
    width: 3rem;
  }
}

.icon {
  height: 2.5rem;
  width: 2.5rem;
  transition: transform, color, 0.2s ease;

  @include respond(tab-port) {
    height: 5rem;
    width: 5rem;
  }
}

// ! ACCOUNT DELETION CONFIRMATION
.confirmation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;

  transition: opacity, visiblity, .2s ease;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
  &-box {
    padding: 10rem;
    border-radius: 10px;
    background-color: var(--color-white-static);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;

    & > p {
      text-align: center;
      font-weight: 700;
      font-size: 2rem;
      color: var(--color-error);
    }

    & > div > button {
      padding: 2rem;
      width: 20rem;
      border-radius: 5px;
      outline: none;
      border: none;
      background-color: var(--color-error);
      font-weight: 600;
      color: var(--color-white-static);
      cursor: pointer;
      transition: transform, opacity, 0.2s ease;
      font-size: 1.6rem;

      &:first-of-type {
        background-color: var(--color-primary);
      }

      &:focus,
      &:hover {
        transform: translateY(-3px);
      }
    }

    & > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 3rem;

      &:has(button:focus) button:not(:focus),
      &:has(button:hover) button:not(:hover) {
        opacity: 0.8;
      }
    }
  }
}
