@import '@/styles/mixins';
@import "@/styles/variables";
.navigation {
  position: sticky;
  top: 0;
  left: 3rem;
  // position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 8rem;

  background-color: rgba(#fff, 0.9);
  border-bottom: 1px solid var(--color-black);

  padding: 0 5rem;

  z-index: 100;

  & .logo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--color-primary);
    // text-shadow: var(--text-outline);
  }

  & ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;

    & li {
      & > * {
        display: flex;
      }

      // | Sign in/up anchor
      & .link {
        transition: color, border-color, 0.2s ease;
        border-bottom: 1px solid transparent;
        font-weight: 600;
        padding: 2px 0;
        cursor: pointer;

        &:hover,
        &:focus {
          border-color: var(--color-primary);
          color: var(--color-primary);
        }
      }

      // | Icon box anchor
      & .icon-box {
        position: relative;
        border: none;
        cursor: pointer;

        &:hover,
        &:focus {
          border-color: none;
          color: var(--color-primary);
          & > .icon {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  @include respond(tab-port) {
    display: none;
  }

  &.auth {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.welcome {
  font-weight: 600;
  padding: 2px 0;

  & span {
    color: var(--color-primary);
    font-weight: 700;
    margin-left: .3rem;
  }
}

// Bookmarks and recipes in cart count
.count {
  position: absolute;
  bottom: -.8rem;
  right: -.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.4rem;
  color: $color-white;

  height: 2rem;
  width: 2rem;
  border-radius: 100px;
  box-shadow: 0 1px 1px rgba(0,0,0, .3);
  background-color: rgba($color-primary, .8);
}

.icon {
  height: 2.5rem;
  width: 2.5rem;
  transition: transform, color, 0.2s ease;
}
