@import '@/styles/mixins';
@import '@/styles/variables';
.button {
  position: relative;

  height: 2rem;

  padding: 3rem;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color, box-shadow, 0.2s ease-in;
  will-change: background-color, box-shadow;

  & > * {
    display: block;
    position: absolute;
    left: 50%;
    height: 2px;
    width: 50%;
    border-radius: 2px;
    background-color: var(--color-black);

    transform: rotate(0deg) translateX(-50%);
    transform-origin: left center;
    transition: transform, top, width, opacity, background-color,
      0.25s ease-in-out;
    will-change: transform, top, width, opacity, background-color;
  }

  border: none;

  &:focus {
    outline: none;
  }

  &.mobile {
    display: none;

    @include respond(tab-port) {
      z-index: 999;
      display: inline-block;
      position: fixed;
      top: 3rem;
      left: 3rem;
      background-color: rgba($color-white, 0.9);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

      &.active {
        box-shadow: none;
        background-color: transparent;
      }
    }
  }
}

.top {
  top: 35%;

  &.active {
    transform: rotate(45deg) translateX(-50%);
    top: 50%;
  }
}

.mid {
  transform: translate(-50% -50%);
  top: 50%;

  &.active {
    width: 0%;
    opacity: 0;
  }
}

.bottom {
  transform: translate(-50% -100%);
  top: 65%;

  &.active {
    transform: rotate(-45deg) translateX(-50%);
    top: 50%;
  }
}
