@import '@/styles/mixins';
.box {
    position: fixed;
    bottom: 2rem;
    right: 5rem;
    padding: 3.5rem 3rem 3rem;
    background-color: var(--color-error);
    opacity: .9;

    border-radius: 5px;
    font-size: 1.2rem;
    z-index: 300;

    font-weight: 600;
    text-align: center;
    &:hover {
        opacity: 1;
    }

    @include respond (tab-port) {
        // opacity: 1;

        left: 50%;
        transform: translateX(-50%);
        min-width: 60vw;
    }
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer;

    @include respond(tab-port) {
        left: 1rem;
    }
}
